.wrapper {
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.day {
  background-image: url("./assets/backgrounds/day-background.jpg");
}

.night {
  background-image: url("./assets/backgrounds/night-background.jpg");
}
