.container {
  width: 100%;
  height: 40px;
  background-color: #f5e06d;
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.appName {
  color: #42a1f5;
  font-size: 18px;
}
